body {
    margin: 0;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    background-color: black;
}

canvas {
    vertical-align: top;
}

#screen {
    position: relative;
    width: 640px;
    margin: auto;
}

#framecounter {
    position: absolute;
    right: 0;
    color: white;
    font-size: 8pt;
    font-family: "Courier New";
    text-shadow: black 1px 1px;
}
