body {
    margin: 0;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    background-color: black;
}

#framecounter {
    color: white;
    font-size: 10px;
    font-family: "Courier New";
}
